html {
  background-color: grey;
}

header {
  display: flex;
  padding: 10px 30px;
  justify-content: space-between;
  align-items: center;
  background-color: aliceblue;
}

nav.nav-menu {
  display: flex;
  gap: 15px;
}